/* Add here all your css styles (customizations) */
.da-slider{
	background: transparent url(../img/1.jpg) repeat 0% 0%;
}

@media (max-width: 900px) {
   /*Slider Parallax*/
   .da-slide .da-img {
      display:block;
   }
}

@media (max-width: 450px) {
   .da-slide p {
      display:block;
   }
}

.da-slide h2 i {
	text-transform:none;
}
